/* 
    MIT License

    Copyright (c) 2023 Christopher Amorosi

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
 */

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    /* color: #749c38;  Datalinks green as default text color */
    color: #78a4d4; /* Testing the "value" color for text. */
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1724;
    background-image: repeating-linear-gradient( /* Dark scanlines */
        to bottom,
        black,
        black 2px,
        #0c0c10 2px,
        #0c0c10 4px
    );
    display: flex;
    flex-direction: column;
}

/* Header and top Nav (governor style buttons) */

header {
    margin: 1em;
}

header nav ol {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 5px;
}

header nav ol li {
    flex-grow: 1;
    flex-basis: 18%;
}

header nav ol li a {
    display: block;
}

.middlegov {
    flex-basis: 28%;
}

/* Main (base window style) */

main {
    width: 66%;
    /* max-width: 1024px; */
    margin: auto;
    overflow: auto;
}

article {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Narrow";
    text-align: center;
    text-transform: uppercase;
    color: #688cc4; /* Color of the headings in tech breakthrough popups */
}

a {
    color: #b8c060;
    font-weight: bold;
    /* text-decoration: none; */
}

/* Basic entry wrapper style */

.blurb-container {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

/* Basic styling for the three main sections of a blurb */

.blurb-symbol, .blurb-quote, .blurb-info {
    display: flex;
    flex-direction: column;
}

.blurb-symbol, .blurb-info {
    flex: 1 1 20ch;
}

.blurb-quote {
    flex: 2 1 40ch;
}

/* Generic flex column styling for child elements */

.column {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

/* Symbol styling */

.symbol {
    object-fit: contain;
    opacity: 70%;
}

/* Quote styling */

.quote-wrapper {
    flex-grow: 1;
}

.text, .author, .work, .note {
    margin: 0;
    white-space: pre-wrap; /* Preserves line breaks and whitespace from raw text */
}

.text {
    margin-left: 2px;
}

.author, .work, .note {
    margin-left: 2em;
}

.author::before{
    content: '\2014'; /* em dash */
}

.work::before {
    content: '\201C'; /* curly begin quote */
}

.work::after {
    content: '\201D'; /* curly end quote */
}

/* Info styling */

.blurb-info p {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.all-caps {
    text-transform: uppercase;
}

/* Basic entry internal layout elements */
/* THIS IS OLD AND SHOULD BE PURGED EVENTUALLY */

.side, .center {
    display: flex;
    flex-flow: column;
}

.side {
    flex: 1 1 20ch;
}

.center {
    flex: 2 1 40ch;
}

/* About page specific styling */

p.about {
    width: 100%;
    padding: 1em 1em 1em 3em;
    margin-left: 1em;
}

p.about.librarian {
    background: url('/static/img/librarian_sm.png') no-repeat left center;
}

p.about.workerf {
    background: url('/static/img/workerf_sm.png') no-repeat left center;
}

p.about.dronem {
    background: url('/static/img/dronem_sm.png') no-repeat left center;
}

p.about.technician {
    background: url('/static/img/technician_sm.png') no-repeat left center;
}

p.about.thinker {
    background: url('/static/img/thinker_sm.png') no-repeat left center;
}

p.about.transcend {
    background: url('/static/img/transcend_sm.png') no-repeat left center;
}

.portrait {
    object-fit: contain;
    /* max-width: 100%; */
}

/* Specific styling for the drone stinger at the bottom of the page */

.stinger {
    color: #353d73;
    text-align: center;
    font-style: italic;
}

/* Footer Style */

/* Ignoring the footer for now... */

/* Element borders */

.border-outer {
    border: 1px solid #314e2c;
    border-radius: 5px;
    margin: 0 0 4px;
    padding: 2px;
}

/* Only inner-bordered elements should have the "active screen" background. */

.border-inner {
    background-image: repeating-linear-gradient(
        to bottom,
        #0d1724,
        #0d1724 2px,
        #000000 2px,
        #000000 4px
    );
    border: 1px solid #233b22;
    border-radius: 5px;
    margin: 2px;
}

.border-governor {
    border: 1px solid #e88808;
    border-radius: 5px;
    margin: 4px;
    padding: 2px;
}

/* The next classes help with layout within elements */

 /* Use for border divs that need to fill remaining space. */
.fill {
    flex-basis: auto;
}

/* Use to center or evenly space elements with specific dimensions, such as an img. */

.center {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

/* SMAC Palette: Buttons */

/* The generic bluish button found all over the UI. */

.button {
    background: repeating-linear-gradient(
        to bottom,
        #1c5063,
        #1c5063 2px,
        #675bb5 2px,
        #675bb5 4px
    );
    color: black;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 3px;
    margin: 2px;
}

.button:hover {
    border: 2px solid #78a4d4;
}

.button:active {
    background: repeating-linear-gradient(
        to bottom,
        #688cc4,
        #688cc4 2px,
        #78a4d4 2px,
        #78a4d4 4px
    );
}

.button.off { /* Change to transparent? So it just takes the background? */
    background-image: repeating-linear-gradient(
        to bottom,
        #0b1218,
        #0b1218 2px,
        #0d1c30 2px,
        #0d1c30 4px
    );
}

.button.off:hover {
    border: 2px solid transparent;
}

a.button {
    text-decoration: none;
}

/* The orange governor buttons */

.button.governor {
    background: repeating-linear-gradient(
        to bottom,
        #6c3417,
        #6c3417 2px,
        #552b15 2px,
        #552b15 4px
    );
    color: #e46818;
    border: 2px solid #88451c;
}

.button.governor:hover, .button.governor.active {
    background: repeating-linear-gradient(
        to bottom,
        #eb5c00,
        #eb5c00 2px,
        #e47818 2px,
        #e47818 4px
    );
    color: black;
}

.button.governor:active {
    border: 2px solid #dcac34;
}

/* The red governor toggle button */

.button.govtoggle {
    background: repeating-linear-gradient(
        to bottom,
        #880c0c,
        #880c0c 2px,
        #44200c 2px,
        #44200c 4px
    );
    color: #e84014;
    border: 2px solid #b01414;
}

.button.govtoggle:hover {
    background: repeating-linear-gradient(
        to bottom,
        #d41818,
        #d41818 2px,
        #e84014 2px,
        #e84014 4px
    );
    color: black;
    border: 2px solid #880c0c;
}

.button.govtoggle:active {
    border: 2px solid #e47818;
}

.button.govtoggle.active {
    background: repeating-linear-gradient(
        to bottom,
        #d41818,
        #d41818 2px,
        #e84014 2px,
        #e84014 4px
    );
    color: black;
    border: 2px solid #e47818; /* is this right? */
}

/* Orange menu and commlink style */
.button.menu {
    background: repeating-linear-gradient(
        to bottom,
        #393212,
        #393212 2px,
        #331307 2px,
        #331307 4px
    );
    color: #e46818;
    border: 2px solid transparent;
}

.button.menu:hover, .button.menu.active {
    background: repeating-linear-gradient(
        to bottom,
        #a1560f,
        #a1560f 2px,
        #88451c 2px,
        #88451c 4px
    );
    color: black;
}

.button.menu:active {
    background: repeating-linear-gradient(
        to bottom,
        #e88808,
        #e88808 2px,
        #eb5c00 2px,
        #eb5c00 4px
    );
}

/* SMAC Palette: Text Colors */

.datalinks {
    color: #749c38;
}

.highlight {
    color: #b8c060; /* Datalinks highlight color */
    font-weight: bold; /* Datalink highlights are also bold */
}

.explore {
    color: #588c2c;
}

.discover {
    color: #adc4c0;
}

.build {
    color: #e8d48c;
}

.conquer {
    color: #da8677;
}

.menu {
    color: #b0d4f8; /* Ligher blue color used for menu options. */
}

.baseheading {
    color: #353d73; /* Base screen subsection headings like NUTRIENTS. */
}

.techheading {
    color: #688cc4; /* Headings in breakthrough popups. */
}

.label {
    color: #4464a0; /* Generic data labels like "M.Y.", "Energy", etc. */
}

.value {
    color: #78a4d4; /* Generic data values like the year, energy reserves, etc. */
}

.eco {
    color: #588c2c; /* Eco-damage. */
}

.queue {
    color: #3b6f80; /* Build queue, facility list, and some explanatory text in base UI. */
}

.nutrients {
    color: #749c38;
}

.minerals {
    color: #90b8e4;
}

.energy {
    color: #e09c1c;
}

.economy {
    color: #e8d48c;
}

.labs {
    color: #d8e0eb;
}

.psych {
    color: #74c0a0;
}

/* Faction text colors */

.gaians {
    color: #10e400;
}

.hive {
    color: #0061ff;
}

.university {
    color: #d8e0f4;
}

.morgan {
    color: #ffff00;
}

.spartans {
    color: #89a6a6;
}

.believers {
    color: #e09c1c;
}

.peacekeepers {
    color: #a4b0e8;
}

@media (max-width: 550px) {
    header nav ol {
        flex-direction: column;
    }
    main {
        width: 90%;
    }
    .portrait {
        max-width: 100%;
    }
}
